.experiencia {
  background-color: #282828;
  color: #fafafa;
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 120px;
  column-gap: 40px;
}

.bg-exp {
  max-width: 1200px;
  gap: 40px;
  display: grid;
}

.subtitulo-exp-bg {
  align-items: center;
  grid-column: 2;
  grid-row: 1/-1;
}

.subtitulo-exp-alt {
  display: none;
}

.xp-bloco {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column: 1;
}

.xp-ano {
  grid-column: 1;
  text-align: right;
  padding-top: 20px;
  padding-right: 20px;
  color: var(--cor-p3);
  width: 10ch;
}

.xp-principal {
  grid-column: 2;
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-template-rows: 0.35fr 1fr;
  background-color: #424242;
  border-radius: 5px;
  padding: 20px;
  gap: 20px;
  align-items: center;
  position: relative;
}

.xp-lugar {
  grid-column: 1;
  grid-row: 1;
}

.xp-cargo {
  grid-column: 2;
  grid-row: 1;
  text-align: right;
  align-items: initial;
}

.xp-descricao {
  grid-column: 1;
  grid-row: 2;
}

.xp-lista {
  grid-column: 2;
  grid-row: 2;
  display: inline;
}

.xp-lista li {
  padding: 4px 8px;
  margin: 5px;
  display: inline-block;
  background-color: #757575;
  border-radius: 5px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

@media (max-width: 1200px) {
  .experiencia {
    column-gap: 0;
    grid-template-rows: auto;
  }

  .bg-exp {
    grid-row: 2;
    grid-template-columns: 1fr;
  }

  .subtitulo-exp {
    display: none;
  }

  .subtitulo-exp-alt {
    display: block;
    grid-row: 1;
    grid-column: 1;
    font-size: 3rem;
    text-align: right;
    padding-bottom: 40px;
  }
}

@media (max-width: 800px) {
  .bg-exp {
    gap: 20px;
    padding-left: 0px;
    margin-left: 0px;
  }
  .xp-bloco {
    display: grid;
    grid-template-columns: 1fr;
  }
  .xp-principal {
    grid-column: 1;
  }
  .xp-ano {
    grid-column: 1;
    align-self: end;
    justify-self: left;
    margin: 0;
    padding: 0;
    text-align: left;
  }
}

@media (max-width: 420px) {
  .bg-exp {
    gap: 0;
    justify-content: center;
  }
  .subtitulo-exp-alt {
    font-size: 2.5rem;
  }
  .xp-bloco{
    margin-bottom: 20px;
  }
  .xp-descricao{
    font-size: .85rem;
  }
}
