.formacao {
  display: grid;
  background-color: #fff;
  color: #000;
  align-items: center;
  justify-content: center;
  padding: 120px;
}

.bg-form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr) auto;
  gap: 40px;
  max-width: 1200px;
}

.subtitulo-form {
  grid-column: 1;
  grid-row: 1/-1;
  display: block;
  align-self: center;
}

.subtitulo-form h2 {
  text-align: right;
}

.subtitulo-form-alt {
  display: none;
}

.graduacoes {
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(3, 1fr); */
  gap: 20px;
  grid-column: 2/-1;
}

.graduacao{
  flex: 1;
  background-color: #424242;

  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr; */
  align-items: top;
  /* min-width: auto; */
  position: relative;
  gap: 15px;
}

.titulo {
  color: var(--cor-p2);
  flex: 1;
}

.curso {
  flex: 1;
}

.graduacao {
  min-width: 90px;
}

.instituicao {
  flex: 1;
}

.ano {
  flex: 1;
  text-align: right;
  grid-column: 2;
  grid-row: 1;
}

.cursos {
  padding: 20px 0px 20px 40px;
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  /* grid-template-rows: auto, 1fr; */
  grid-row: 2;
  grid-column: 2/-1;
  padding-bottom: 0px;
  align-content: start;
  gap: 10px;
}

.cursos h2 {
  grid-column: 1;
  grid-row: 1;
}

.lista-de-cursos {
  line-height: 1.5;
  grid-column: 1;
  grid-row: 2;
  text-align: left;
}

.lista-de-cursos li {
  position: relative;
}

.lista-de-cursos li::before {
  position: absolute;
  content: '';
  width: 5px;
  height: 5px;
  background: var(--cor-p4);
  border-radius: 50%;
  left: -8px;
  top: 10px;
}

.lista-de-cursos-comp {
  text-align: right;
  line-height: 1.5;
  grid-column: 2;
  grid-row: 2;
}

/* .lista-de-cursos-alt {
  display: none;
} */

.linguas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto, 1fr;
  grid-row: 3;
  grid-column: 2/-1;
  padding: 20px 0px 0px 40px;
  padding-bottom: 0px;
  align-content: start;
  gap: 10px;
}

.lista-de-linguas {
  line-height: 1.5;
  grid-column: 1;
  grid-row: 2;
  text-align: left;
}

.lista-de-linguas-comp {
  line-height: 1.5;
  text-align: right;
  grid-column: 2;
  grid-row: 2;
}

.cursos,
.linguas {
  position: relative;
}
.cursos::before,
.linguas::before {
  content: "";
  display: block;
  width: 12px;
  height: 4px;
  background-image: url(../img/detalhe.svg);
  position: absolute;
  top: 40px;
  left: 25px;
}

@media (max-width: 1200px) {
  .subtitulo-form {
    display: none;
  }

  .subtitulo-form-alt {
    display: block;
    grid-column: 1/-1;
    font-size: 3rem;
    text-align: left;
    padding-bottom: 40px;
    order: 0;
  }

  .bg-form {
    gap: 20px 0px;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(3, auto);
  }
  .graduacoes {
    grid-row: 2;
  }
  .cursos {
    gap: 20px 0px;
    /* grid-template-columns: 1fr 1fr; */
    grid-row: 3;
  }

  .linguas {
    grid-row: 4;
    gap: 20px 0px;
  }
}

@media (max-width: 900px) {
  .cursos {
    padding: 20px 0px;
  }
  .linguas {
    padding: 20px 0px;
  }
  /* .lista-de-cursos {
    display: none;
  }
  .lista-de-cursos-comp {
    display: none;
  }
  .lista-de-cursos-alt {
    grid-column: 1/-1;
    display: block;
  } */

  .lista-de-linguas {
    color: var(--cor-p6);
  }

  .cursos::before,
  .linguas::before {
    content: "";
    display: block;
    width: 12px;
    height: 4px;
    background-image: url(../img/detalhe.svg);
    position: absolute;
    top: 40px;
    left: -15px;
  }
}

@media (max-width: 800px) {
  .formacao {
    padding: 60px;
  }
  .bg-form {
    gap: 20px 0px;
  }
}

@media (max-width: 420px) {
  .lista-de-linguas-comp {
    grid-column: 1;
    grid-row: 3;
    text-align: left;
  }

  .subtitulo-form-alt {
    font-size: 2.5rem;
  }
}
