body {
  margin: 0px;
  padding: 0px;
}

.secundario {
  padding: 40px;
}

a {
  text-decoration: none;
  color: darkblue;
  background: lightblue;
  font-size: 3rem;
  padding: 20px;
  border-radius: 10px;
}

.links {
  grid-row: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bg {
  width: 100vw;
  height: 100vh;
  background-color: darkblue;
  display: grid;
  grid-template-rows: auto auto;
  justify-content: center;
  text-align: center;
}

.introducao {
  display: inline;
  grid-column: 1/-1;
  grid-row: 1;
  font-size: 5rem;
  background-color: lightblue;
  color: darkblue;
  align-self: center;
  border-radius: 10px;
}

a:hover{
  background-color: aquamarine;
}

.texto {
  font-size: 5rem;
  background-color: darkblue;
  color: lightblue;
}