---
layout: default
lang: en
title: "Eric Moritsuka: Technical Writer"
header_dark: true
blog_js: true
---
	<main>

		<h1 class="blog-titulo font-grande cor-10">Blog</h1>
		<p class="blog-sub-titulo font-2-s cor-10">
			Here are some thoughts:
		</p>

		<section class="blog-container">
		{% for post in site.posts %}
			<article class="post">
				<h2 class="post-titulo">{{ post.title }}</h2>

				<ul class="post-tags">
					{% for tag in post.tags %}<li class="tag">{{ tag }}</li>
					{% endfor %}
				</ul>

				<p class="post-data font-atualizacao cor-6">
					{% include date-en.html date=post.date %}
				</p>

				<a href="{{ post.url }}" class="post-link">
					Read more
				</a>
			</article>
		{% endfor %}
		</section>
	</main>
