{% if page.lang == "pt-br" %}
<footer class="rodape" id="contato" aria-label="contato">
	<div class="bg-rodape">
		<p class="texto-rodape font-2-l cor-1">Entre em contato pelo LinkedIn</p>
		<ul class="lista-rodape font-2-l cor-1">
			<li>
				<div class="linkedin">
					<img src="/img/linkedin.svg" alt="" width="24" height="24">
					<a href="https://www.linkedin.com/in/ericthmoritsuka/">
						<p>ericthmoritsuka</p>
					</a>
				</div>
			</li>
		</ul>

		<p class="copyright font-atualizacao cor-1">Eric Moritsuka. Alguns direitos reservados.</p>
	</div>
</footer>
{% else %}
<footer class="rodape" id="contact" aria-label="contact">
	<div class="bg-rodape">
		<p class="texto-rodape font-2-l cor-1">Let's connect on LinkedIn</p>
		<ul class="lista-rodape font-2-l cor-1">
			<li>
				<div class="linkedin">
					<img src="/img/linkedin.svg" alt="" width="24" height="24">
					<a href="https://www.linkedin.com/in/ericthmoritsuka/">
						<p>ericthmoritsuka</p>
					</a>
				</div>
			</li>
		</ul>

		<p class="copyright font-atualizacao cor-1">Eric Moritsuka. All rights reserved.</p>
	</div>
</footer>
{% endif %}
