<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en' }}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{{ page.description | default: site.description }}">
	<meta name="author" content="Eric Moritsuka">
	<link rel="stylesheet" href="/css/style.css">
	<title>{{ page.title }}</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
	{% include header.html %}

{{ content }}

	{% unless page.hide_footer %}{% include footer.html %}{% endunless %}
	{% if page.blog_js %}<script src="/js/blog.js"></script>{% endif %}
	{% for script in page.scripts %}<script src="{{ script }}"></script>
	{% endfor %}
</body>

</html>
