<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en' }}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/style.css">
	<title>{{ page.title }}</title>
	{% seo title=false %}
	{% feed_meta %}
	<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16.png">
	<link rel="icon" type="image/png" sizes="192x192" href="/img/favicon/favicon-192.png">
	<link rel="apple-touch-icon" href="/img/favicon/apple-touch-icon.png">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
	{% include header.html %}

{{ content }}

	{% unless page.hide_footer %}{% include footer.html %}{% endunless %}
	{% if page.blog_js %}<script src="/js/blog.js"></script>{% endif %}
	{% for script in page.scripts %}<script src="{{ script }}"></script>
	{% endfor %}
</body>

</html>
